body {
	margin-top: 60px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #095FA8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    z-index: 1000;
}

footer {
    background-color: #095FA8;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
		
.logo-container img {
    width: 50px;
    height: 50px;
}

button {
    background-color: #095FA8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2675A6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: auto;
}

#financial-news {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

#news-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#news-list li {
    margin-bottom: 10px;
}

#news-list a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

#news-list a:hover {
    color: #095FA8;
}

@media only screen and (max-width: 720px) {
    body {
        font-size: 14px;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0;
        background-color: #095FA8;
        padding: 90px;
        display: flex;
        justify-content: space-between;
        align-items: left;
        z-index: 1000;
    }

    button {
        background-color: #095FA8;
        color: #fff;
        padding: 2px;
        border: none;
        border-radius: 1px;
        cursor: pointer;
        font-size: 30px;
    }

	.container {
    display: flex;
    justify-content: space-around; /* Убираем этот стиль */
    align-items: center;
    overflow-x: auto;
	margin: 100px auto 0; /* 20px сверху, автоматические боковые отступы, 0 снизу */
	}
	
}